
body {
  margin: 0;
  background: linear-gradient(to bottom, #006994 0%, #706991 100%);
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  
}

img {
  display: block;
  width: 100%;
  height: autopx;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-size:40px;
} 
.nep {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #fff;
  margin: 0.5em 0;
}

.nep:hover {
  background: #eaeaea;
  color: #333;
}
p {
  margin: 0;
  font-size: 20px;
  padding-bottom: 1.1em;
  
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #fff;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

}
/* Dropdown Button */
.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #fff;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

.dropbtn {
  background-color: linear-gradient(to bottom, #006994 0%, #706991 100%);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: linear-gradient(to bottom, #006994 0%, #706991 100%);}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
  padding-bottom: 45px;
}

#showcase .bg-image {
  position: absolute;
  background: #333
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 50px;
  padding-bottom: 15px;
}

#showcase .content-wrap,

/* Dropdown */

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #006994;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* section-a */
#section-a .content-wrap {
font-size: px;

  
  padding:1.5em;
}

/* section B */
#section-c {
  background: #333;
  color: #fff;
  padding-bottom: 2em;
  padding-left: 2em;
   padding-right: 2em;
   padding-top: 2em;
}
<!-- Section-B -->
<section id="section-b">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/IOoV1Q_VGFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section-b>


</style>

